//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "PT Sans", sans serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 880;
$md1: $maxWidthContainer + 12;
$md2: 749;
$md3: 700.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 749px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//private
.private {
	background-color: #000;
	display: flex;
	color: #fff;
	margin: 0px 0px 75px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 40px 0px;
	}
	&__column {
		flex: 0 0 50%;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			&:first-child {
				display: none;
			}
		}
	}
	&__image {
		height: 100%;
	}
	&-body {
		padding: 75px 20px 75px 60px;
		@media (max-width: $md1+px) {
			padding: 30px 20px 30px 30px;
		}
		&__title {
			font-family: "AkzidenzGroteskBQ-BdCnd";
			font-size: 50px;
			line-height: 50px;
			text-transform: uppercase;
			letter-spacing: 5px;
			margin: 0px 0px 30px 0px;
			@media (max-width: $md1+px) {
				font-size: 45px;
				margin: 0px 0px 20px 0px;
			}
		}
		&__text {
			font-size: 15px;
			line-height: 25px;
			margin: 0px 0px 55px 0px;
			@media (max-width: $md1+px) {
				margin: 0px 0px 30px 0px;
			}
		}
		&-content {
			max-width: 305px;
		}
		&-buttons {
			&__item {
			}
		}
		&-link {
			color: #fff;
			font-family: "Bebas Neue";
			font-size: 15px;
			line-height: 25px;
			text-decoration: underline;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin: 0px 0px 0px 15px;
		}
	}
}
.products {
	margin: 0px 0px 40px 0px;
	@media (max-width: $md2+px) {
		margin: 0;
	}
	&__column {
		flex: 0 0 25%;
		margin: 0px 0px 40px 0px;
		@media (max-width: $md2+px) {
			flex: 0 0 50%;
		}
		@media (max-width: 380px) {
			flex: 1 1 100%;
		}
	}
	&-body {
		display: flex;
		font-size: 0;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
	}
	&-item {
		display: flex;
		flex-direction: column;
		height: 100%;
		&__image {
			display: block;
			padding: 0px 0px 100% 0px;
			margin: 0px 0px 25px 0px;
			@media (max-width: 380px) {
				margin: 0px 0px 15px 0px;
			}
		}
		&__title {
			padding: 0px 10px 0px 0px;
			max-width: 195px;
			font-family: "AkzidenzGroteskBQ-BdCnd";
			font-size: 25px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			color: #000;
			margin: 0px 0px 30px 0px;
			display: inline-block;
			height: 50px;
			overflow: hidden;
			@media (max-width: 380px) {
				margin: 0px 0px 20px 0px;
				max-width: none;
				height: auto;
				overflow: visible;
			}
		}
		&__text {
			flex: 1 1 auto;
			padding: 0px 10px 0px 0px;
			max-width: 195px;
			font-size: 15px;
			line-height: 25px;
			margin: 0px 0px 30px 0px;
			@media (max-width: 380px) {
				margin: 0px 0px 15px 0px;
				max-width: none;
			}
		}
		&__btn {
			margin: 0px 0px 29px 0px;
		}
		&__link {
			color: #000000;
			font-family: "Bebas Neue";
			font-size: 15px;
			line-height: 25px;
			text-decoration: underline;
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
	}
}
.why {
	&-top {
		display: flex;
		background-color: #000;

		&__column {
			flex: 0 0 50%;
			@media (max-width: $md1+px) {
				flex: 1 1 100%;
				&:last-child {
					display: none;
				}
			}
		}
		&__text {
			color: #ffffff;
			font-family: "AkzidenzGroteskBQ-BdCnd";
			font-size: 50px;
			text-transform: uppercase;
			letter-spacing: 5px;
			text-align: right;
			padding: 50px 60px 50px 0px;
			@media (max-width: $md1+px) {
				padding: 30px 0px;
				text-align: center;
				font-size: 40px;
			}
			@media (max-width: $md3+px) {
				padding: 20px 0px;
				text-align: center;
				font-size: 30px;
			}
		}
		&__image {
			height: 100%;
		}
	}
	&-body {
		padding: 50px 0px 0px 0px;
		background-color: #ebebeb;
		@media (max-width: $md4+px) {
			padding: 30px 0px 0px 0px;
		}
		&-row {
			display: flex;
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 0 50%;
			padding: 0px 0px 50px 0px;
			@media (max-width: $md1+px) {
				flex: 1 1 100%;
			}
			@media (max-width: $md4+px) {
				padding: 0px 0px 30px 0px;
			}
		}
		&-item {
			display: flex;
			&__icon {
				flex: 0 0 100px;
				height: 100px;
				background-color: #000;
				display: flex;
				justify-content: center;
				align-items: center;
				@media (max-width: $md4+px) {
					flex: 0 0 80px;
					height: 80px;
					padding: 15px;
					img {
						max-width: 100%;
					}
				}
			}
			&-body {
				flex: 1 1 100%;
				padding: 0px 0px 0px 11px;
				display: flex;
				flex-direction: column;
				&__title {
					flex: 1 1 auto;
					font-family: "AkzidenzGroteskBQ-BdCnd";
					font-size: 25px;
					text-transform: uppercase;
					letter-spacing: 2.5px;
					@media (max-width: $md4+px) {
						font-size: 20px;
					}
				}
				&__text {
					font-size: 15px;
					padding: 0px 15px 0px 0px;
					line-height: 25px;
				}
			}
		}
	}
}
.contacts {
	padding: 80px 0px 0px 0px;
	@media (max-width: $md2+px) {
		padding: 30px 0px 0px 0px;
	}
	&__title {
		font-family: "AkzidenzGroteskBQ-BdCnd";
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin: 0px 0px 30px 0px;
	}
	&-top {
	}
	&-body {
		display: flex;
		flex-wrap: wrap;
		&__column {
			flex: 0 0 50%;
			margin: 0px 0px 20px 0px;
			@media (max-width: $md2+px) {
				flex: 1 1 100%;
			}
		}
		&__item {
			font-size: 15px;
			color: #000;
			display: inline-block;
			line-height: 27px;
			padding: 0px 0px 0px 35px;
		}
		&__item--1 {
			background: url("../img/contacts/01.svg") left no-repeat;
		}
		&__item--2 {
			background: url("../img/contacts/02.svg") left no-repeat;
		}
		&__item--3 {
			background: url("../img/contacts/03.svg") left no-repeat;
		}
	}
	&-social {
		display: flex;
		&__item {
			margin: 0px 30px 0px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	&-content {
		display: flex;
		background-color: #000;
		@media (max-width: $md2+px) {
			display: block;
		}
		&__column {
			flex: 0 0 50%;
		}
		&__map {
			height: 100%;
			@media (max-width: $md2+px) {
				height: 300px;
			}
		}
		&-form {
			padding: 55px 60px;
			@media (max-width: $md2+px) {
				padding: 30px;
			}
			&__title {
				color: #ffffff;
				font-family: "AkzidenzGroteskBQ-BdCnd";
				font-size: 25px;
				text-transform: uppercase;
				letter-spacing: 2.5px;
				margin: 0px 0px 30px 0px;
			}
			&__btn {
			}
			&-body {
				max-width: 375px;
				@media (max-width: $md2+px) {
					max-width: none;
				}
			}
			&-line {
				padding: 0px 0px 25px 0px;
				&._error {
					padding: 0px 0px 11px 0px;
				}
			}
			&-button {
			}
		}
	}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
